#java specific
*.class
*.jar

#files
.classpath
.project
maven-eclipse.xml
ParameterDaoTest.java
barmar.properties

#folders
target/*
src/main/tomcatconf/*
.externalToolBuilders/*
.settings/*
.metadata/*
lib/*
tests/*
build/*
bin/*
externals/*
${war-src}/*